<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AzureStorageConn" connectionString="DefaultEndpointsProtocol=https;AccountName=fyp11;AccountKey=lpodP39hyFl9dxBfg7ph35HghC+doOsd+KUeriajd++hQ2sJsk2pthH42rGkqcJN+i1W/CWgXXt0BeY/2/hmOg=="/>
  </connectionStrings>

  <appSettings>
    <add key ="sourceFolder" value="C:\Users\Kevin Moss\Pictures\Saved Pictures"/>
  </appSettings>
</configuration>