<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fyp20170201124904.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fyp20170201124904.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Fyp20170201124904</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Fyp20170201124904</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:Fyp20161129093753dbserver.database.windows.net,1433;Initial Catalog=Fyp20170201124904_db;User ID=X13562797@Fyp20161129093753dbserver;Password=w4vr8fwnmsmM!!!!!!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Fyp.Models.ApplicationDbContext, Fyp" MigrationConfiguration="Fyp.Migrations.Configuration, Fyp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:Fyp20161129093753dbserver.database.windows.net,1433;Initial Catalog=Fyp20170201124904_db;User ID=X13562797@Fyp20161129093753dbserver;Password=w4vr8fwnmsmM!!!!!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>